.popup {
  position: relative;
  visibility: hidden;
  transition: visibility linear 0.8s;
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
  z-index: 1; /* Помещаем оверлей выше контента */
  display: block;
}
