@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/body/body.css);

@import url(../blocks/page/__container/page__container.css);

/*header*/

@import url(../blocks/header/header.css);
@import url(../blocks/logo/_place/logo_place_header.css);

/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__descripton/profile__description.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__wrap/profile__wrap.css);
@import url(../blocks/profile/__summury/profile__summury.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__avatar-edit/profile__avatar-edit.css);


/*buttons*/
@import url(../blocks/button/button.css);

/*cards*/
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__img/cards__img.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__list/cards__list.css);
@import url(../blocks/cards/__content/cards__content.css);
@import url(../blocks/cards/__name/cards__name.css);
@import url(../blocks/cards/__button-like/cards__button-like.css);
@import url(../blocks/cards/__button-like/__button-like_active/cards__button-like_active.css);
@import url(../blocks/cards/__button-delete/crads__button-delete.css);



/*popup*/
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__form-item/popup__form-item.css);

@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__name/popup__name.css);

@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);

/*footer*/

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__info/footer__info.css);

@import url(../blocks/pictures-popup/pictures-popup.css);
@import url(../blocks/pictures-popup/__img/pictures-popup__img.css);
@import url(../blocks/pictures-popup/__wrap/pictures-popup__wrap.css);
@import url(../blocks/pictures-popup/__text/pictures-popup__text.css);

@import url(../blocks/popup/__form-item/_error/popup__form-item_error.css);
@import url(../blocks/popup/__button-save/_disabled/popup__button-save_disabled.css);
@import url(../blocks/popup/__text-error/popup__text-error.css);
@import url(../blocks/cards/__like/cards__like.css);
@import url(../blocks/cards/__like-wraper/cards__like-wraper.css);



