.popup__button-close {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  z-index: 2;
  background: url("../../../images/Close_Icon.svg") center no-repeat;
  position: absolute;
  top: -38px;
  right: -38px;
}

@media (max-width: 580px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
