.popup__button-close {
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 155px;
  left: 863px;
  z-index: 2;
  background: url("../../../images/Close\ Icon.svg") center no-repeat;
}

@media (max-width: 320px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: 87px;
    left: 281px;
  }
}
