.popup {
  align-items: center;
  background-color: rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: visibility 0.5s, opacity .8s linear;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

